<!doctype html>
<html lang="en">
<meta charset="UTF-8">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="google-signin-client_id" content="1014001025339-hbn4gh8b34v4bocvaedvhino8i08c4v8.apps.googleusercontent.com">
  <link rel="icon" href="../../favicon.ico">

<title>Find Person</title>
    <style>

      /*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  /*background-image: url('btn_google_signin_light_normal_web@2x.png');*/
  border: 2px solid #fff;
  border-radius: 1em;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  font-family:  "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}

.lead {
  color: #999;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family:  Arial, Helvetica, sans-serif;
  font-style: italic;
  color: #999;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}

    </style>
<!-- <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
<link href="cover.css" rel="stylesheet">
<script src="../../assets/js/ie-emulation-modes-warning.js"></script>
 -->
</head>
  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">#FindPersonProject</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="#">About Us</a></li>
<!--                   <li><a href="#">Features</a></li>
                  <li><a href="#">Contact</a></li>
 -->                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">Check photos. Find missing people.</h1>
            <p class="lead">83,957 people are missing in the United States. Did you accidentally take a picture with one of them? Did someone you know went missing? Check your google photos to find out >>>>>>>>>>>></p>
            <form class='form-inline' method='post' action="/getauth" id="getauth">
<!--     <div class="g-signin2" data-onsuccess="onSignIn" type="submit" class="btn btn-lg btn-default" id="google-signin"></div>
 -->    <button type="submit" class="btn btn-lg btn-default" id="google-signin">Check your google photos
<!--     <img src="https://swajal.in/wp-content/uploads/2016/03/btn_google_signin_light_normal_web.png">
 -->    </button>
  </form>
            </p>
          </div>
          <div class="mastfoot">
            <div class="inner">
              <p>A <a href="http://live.pennapps.com">PennAppsXIV</a> project, by <a href="">Anni Zhu</a>, <a href="https://github.com/yibangchen">Yibang Chen</a>, <a href="">Yunwen Deng</a>, <a href="">Tianle Yang</a>.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
  </body>
</html>
